:global {
  .app-detail-nav{
    width: 100%;
  }
  .app-detail-nav .ant-tabs-nav-scroll {
    widows: 100%;
    display: flex;
    justify-content: center;
  }
}

.wrapSubmit{
  width: 100%;
  display: flex;
  justify-content: center;
}

.form {
  flex: 1;
  display: flex;
  justify-content: center;
}